body{
	background-image: url(../images/bg_cork-wallet.png);
	background-repeat: repeat
}

.container{
	margin:auto;
	width: 960px;
}

.body{
	clear:left;
	border-top: 3px solid #4aaaa5;
	margin: auto;
	width: 100%;
    overflow:auto;
}

.footer{
	position:fixed;
	background-color: #666666;
	width: 970px;
	margin: auto;
	padding:20px 0px;
	text-align: center;
	color:white;
	bottom: 0px;
	border-top:7px solid #4aaaa5;
	z-index: 1;
}

.myDivBig{
	float: left;
	background-color: #ffffff;
	color:#777777;
	width:650px;
	margin: 10px 10px 50px 0px;
	padding:10px 5px;
}

.myDivSmaller{
	float: left;
	background-color: #ffffff;
	color:#777777;
	width: 230px;
	padding:20px;
	margin: 10px 10px 0px 10px;
}

.titleLab{
	font-weight: bolder;
	font-size: 22px;
	color: #4aaaa5;
}

.myImg{
    float: left;
    clear:left;
	margin:10px 10px 0px 0px;
}

.imgHover:hover{
	border:1px solid black;
}

.myLabel, .myDivSmaller, .myDivBig, .linkMakeup{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.heading{
	background-color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
    overflow:auto;
	width:100%;
	margin: auto;
	position: static;
}

.myLabel{
	float:left;
	margin:0px auto 0px 20px;
	padding:15px 15px;
	background-color: #4aaaa5;
	color: white;
}

.myPages{	
	float:right;
	margin:20px 60px 0px 0px;
}

.linkMakeup{
    display: inline;
	text-decoration: none;
	font-weight: bold;
}

.linkMakeup:hover{
	background-color: gray;
	color: blue;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

li a {
    color: #777777;
    padding: 8px 16px;
    text-decoration: none;
}

.portfolioDiv{
	position: relative;
	display:inline;
	float: left;
	margin: 10px 10px 10px 10px;
}

.portfolioImg{
	width: 100%;
	height: auto;
}

.portfolioText{
	position: absolute;
	top:140px;
	width: 100%;
	background-color: #4aaaa5;
	color: white;
	padding:5px 0px;
	left:0px;
	text-align: center;
	z-index: 1;
}

.submitBtn{
	padding: 10px 20px;
	background-color: #4aaaa5;
	color: white;
}

.submitBtn:hover{
	color:red;
}

.nameInput{
	width:99%;
	padding: 2px;
	height: 1em;
	border:1px solid black;
}

.emailInput{
	width:99%;
	padding: 2px;
	height: 1em;
	border:1px solid black;
}

.messageInput{
	width:99%;
	height:5em;
	padding: 2px;
	border:1px solid black;
	overflow: auto;
}

@media screen and (max-width:980px) and (min-width:770px){
	.container{ width:100%; }
	.body, .footer, .heading{
		width:970px;
	}
	.myDivBig{
		width:650px;
	}
	.myDivSmaller{
		clear:left;
	}
}

@media screen and (max-width:768px) and (min-width:642px){
	.container{ width:100%; }
	.body, .footer, .heading{
		width:750px;
	}
	.myDivBig{
		width:650px;
	}
	.myDivSmaller{
		clear:left;
		width:270px;
	}
}

@media screen and (max-width:640px){
	.container{ width:100%; }
	.body, .footer, .heading{
		width:630px;
	}
	.heading{
		position:static;
	}
	.myDivBig{
		width:630px;
	}
	.myDivSmaller{
		width:270px;
	}
}
